:root {
    --background-color: #FFF5DE;
    --text-color: #4e272a;
    --accent-color: #F5AB64;
    --card-color: white;
    --font-family: Verdana, sans-serif;
    --border-color: #4e272a;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.game-container, .container {
    padding: 5px;
    display: block;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0 20%;
}

.section {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

h1, h2, h3 {
    padding: 3px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}

h1 {
    font-size: 1.4em;
}

p {
    text-align: center;
}

.sectionRules {
    margin-top: 10px;
    width: 100%;
}

.sectionRules h2 {
    text-align: left;
}

.sectionRules h2 {
    padding-top: 2%;
    padding-bottom: 1%;
}

.sectionRules h1 {
    padding-bottom: 3%;
}

.center-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sectionRules ul {
    padding-left: 5%;
}

.pile, .hand {
    display: inline-block;
    position: relative;
}

.pile {
    width: 30%;
}

.hand {
    width: 42%;
}

.card {
    background-color: var(--card-color);
    border: solid 6px var(--border-color);
    border-radius: 8px;
    display: inline-block;
    height: 130px;
    margin: 4px;
    position: relative;
    width: 80px;
}

.card p {
    background-color: var(--card-color);
    font-size: 1.6em;
    padding-top: 40px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.face-down, .face-up {
    height: 100%;
    width: 100%;
}

.face-down {
    background-color: var(--accent-color);
}

.face-down p {
    opacity: 0;
}

.click, .peek {
    cursor: pointer;
    padding-left: 2px;
    padding-top: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.player-actions .hide-at-start {
    display: none;
}

form {
    padding: 14px;
}

label, select, button {
    background-color: var(--card-color);
    border: solid 3px var(--border-color);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
    padding: 16px 20px;
}

.nav-button, .turn {
    display: inline-block;
    position: relative;
}

.nav-button {
    width: 20%;
}

.turn {
    width: 16%;
}

button:hover {
    background-color: var(--accent-color);
}

button:active {
    background-color: var(--text-color);
}
