{% extends 'base.html' %}

{% block head %}
    <title>Smoki Game :)</title>
{% endblock %}

{% block body %}
    <div class="game-container">
    <h1>Smoki Game</h1>
    <h2>Current Turn: Player {{ current_player + 1 }}</h2>
        <div class="container">
            {% for player_hand in players %}
    <div>
        <h3>Player {{ loop.index }}'s Hand:</h3>
        <div class="section">
            {% for card in player_hand %}
                <div class="card">
                    {% if loop.index0 != 0 and loop.index != 6 %}
                        <div >
                            <p>
                                {{ card.number }}{% if card.action %}{{ card.action }}{% endif %}
                            </p>
                        </div>
                    {% else %}
                        <p>
                            {{ card.number }}{% if card.action %}{{ card.action }}{% endif %}
                        </p>
                    {% endif %}
                </div>
                {% if loop.index is divisibleby(3) and loop.index0 != 0 and loop.index != 6 %}
                    <br>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}
        </div>

        <div class="container">
            <div class="section">
                <div class="pile">
                    <h3>Face-Down Pile</h3>
                    <div class="card">
                    <div class="click" onclick="revealFaceDown()">
                    Click<br>to<br>Reveal
                    </div>
                        <div class="face-down">
                            <p>
                            {{ face_down_top.number }}{% if face_down_top.action %}{{ face_down_top.action }}{% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            <div class="pile">
                <h3>Face-Up Pile 1</h3>
                <div class="card">
                    <div class="face-up">
                        {% if updated_card and updated_pile_index == 1 %}
                            <p>{{ updated_card.number }}{% if updated_card.action %}{{ updated_card.action }}{% endif %}</p>
                        {% else %}
                            <p>{{ face_up_top_1.number }}{% if face_up_top_1.action %}{{ face_up_top_1.action }}{% endif %}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="pile">
                <h3>Face-Up Pile 2</h3>
                <div class="card">
                    <div class="face-up">
                        {% if updated_card and updated_pile_index == 2 %}
                            <p>{{ updated_card.number }}{% if updated_card.action %}{{ updated_card.action }}{% endif %}</p>
                        {% else %}
                            <p>{{ face_up_top_2.number }}{% if face_up_top_2.action %}{{ face_up_top_2.action }}{% endif %}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
<div class="player-actions">
        <form method="post" action="{{ url_for('game') }}">
            <input type="hidden" name="player_index" value="0">
            <label id="label_pile" for="pile_index">From Pile:</label>
            <select id="pile_index" name="pile_index">
                <option value="1">Pile 1</option>
                <option value="2">Pile 2</option>
            </select>
            <!-- Add input for exchange_index -->
            <label for="exchange_index">Exchange with Card:</label>
            <select id="exchange_index" name="exchange_index" required>
            {% for i in range(6) %}
                <option value="{{ i }}">{{ i+1 }}</option>
            {% endfor %}
            </select><br>
            <button type="submit" name="action" value="take_face_up">Take Face-Up</button>
            <button id="takeFaceDownBtn" type="submit" name="action" value="take_face_down" class="hide-at-start">Take Face-Down</button>
            <button id="leaveFaceDownBtn" type="submit" name="action" value="leave_face_down" class="hide-at-start">Leave Face-Down</button>
            <button id="checkBtn" type="submit" form="endScreenForm" formaction="{{ url_for('end_screen') }}">Check!</button>
        </form>
            <form method="post" action="{{ url_for('end_screen') }}" id="endScreenForm" style="display: none;">
                 <input type="hidden" name="dummy_input" value="dummy_value">
            </form>
            </div>
    </div>

    {% if action_result %}
        <div class="action-result">
            <p>{{ action_result.number }}{% if action_result.action %}{{ action_result.action }}{% endif %}</p>
        </div>
    {% endif %}
        </div>
    </div>
    </div>
<script>
    function revealFaceDown() {
        var faceDownParagraph = document.querySelector('.pile .face-down p');
        var clickDiv = document.querySelector('.pile .click');
        var takeFaceUpButton = document.querySelector('button[value="take_face_up"]');
        var takeFaceDownButton = document.getElementById('takeFaceDownBtn');
        var leaveFaceDownButton = document.getElementById('leaveFaceDownBtn');
        var checkBtn = document.getElementById('checkBtn');
        var labelPile = document.getElementById('label_pile');
        var pileIndex = document.getElementById('pile_index');

        faceDownParagraph.style.opacity = '1';
        faceDownParagraph.style.backgroundColor = 'white';
        clickDiv.style.display = 'none';
        takeFaceUpButton.style.display = 'none';
        labelPile.style.display = 'none';
        pileIndex.style.display = 'none';

        // Show the buttons
        takeFaceDownButton.style.display = 'inline-block';
        leaveFaceDownButton.style.display = 'inline-block';

        checkBtn.style.display = 'none';

             // Get the card value
        var cardValue = parseInt(faceDownParagraph.innerText);

        // Show the buttons based on the card value
        if (cardValue === 10) {
            takeFaceDownButton.style.display = 'inline-block';
            leaveFaceDownButton.style.display = 'none';
            takeFaceDownButton.style.backgroundColor = 'red';
        }
    }
</script>
{% endblock %}
